[project]
	description = MidoNet is an Open Source network virtualization system for Openstack clouds
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrea Kao (eirinikos)
[access "refs/for/refs/*"]
	read = group user/Andrea Kao (eirinikos)
	push = group user/Andrea Kao (eirinikos)
	label-Code-Review = -2..+2 group user/Andrea Kao (eirinikos)
	label-Verified = -1..+1 group user/Andrea Kao (eirinikos)
	rebase = group user/Andrea Kao (eirinikos)
	removeReviewer = group user/Andrea Kao (eirinikos)
	submit = group user/Andrea Kao (eirinikos)
[access "refs/heads/*"]
	read = group user/Andrea Kao (eirinikos)
	create = group user/Andrea Kao (eirinikos)
	push = +force group user/Andrea Kao (eirinikos)
	pushMerge = group user/Andrea Kao (eirinikos)
[access "refs/tags/*"]
	push = group user/Andrea Kao (eirinikos)
	push = +force group user/Andrea Kao (eirinikos)
